[user]
	name = tfing
	email = tf1515@gmail.com
[alias]
	co = checkout
	ci = commit -s
	cia = commit --amend
	diw = diff --ignore-space-at-eol --ignore-space-change --word-diff
	di = diff --ignore-space-at-eol --ignore-space-change
	dis = diff  --ignore-space-at-eol --ignore-space-change --staged
	dit = difftool --no-prompt
	st = status -s -b
	br = branch
	re = remote
	; lg2 = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(bold red)%d%Creset %C(bold green)%s%C(reset) %C(bold white)(%cr) %C(bold cyan)<%an>%Creset' --abbrev-commit --date=relative
	lg = log --graph --decorate=full --format=format:'%C(yellow)%h%C(reset) - %C(bold white)(%ci)%C(reset) %C(bold green)%f%C(reset)%C(bold red)%d%C(reset) %C(white)%s%C(reset)%C(bold cyan) - <%cn>%C(reset)'
	lgs = log --graph --all --decorate=full --format=format:'%C(yellow)%h%C(reset) - %C(bold white)(%ci)%C(reset) %C(bold green)%f%C(reset)%C(bold red)%d%C(reset) %C(white)%s%C(reset)%C(bold cyan) - <%cn>%C(reset)'
	lgt = log --graph --stat
	lgn = log --graph --decorate=full --oneline
	mf = merge --no-ff
	mg = merge
	rb = rebase
	rbi = rebase --interactive
	rbc = rebase --continue
	rba = rebase --abort
	pick = cherry-pick
	pickc = cherry-pick --continue
	picka = cherry-pick --abort
	sh = show
	aa = add --all :/
	ap = add --patch
	ru = remote update --prune
	sf = svn fetch
	sd = svn dcommit
	ss = stash
	ssi = stash push
	sso = stash pop
	ssl = stash list

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[diff]
	tool = vimdiff

[core]
	editor = vim
	autocrlf = false
    pager = less -RS

[push]
	default = simple
