[user]
	name = tfing
	email = tf1515@gmail.com
[alias]
	co = checkout
	ci = commit -s
	cia = commit --amend
	diw = diff --ignore-space-at-eol --ignore-space-change --word-diff
	di = diff --ignore-space-at-eol --ignore-space-change
	dis = diff  --ignore-space-at-eol --ignore-space-change --staged
	dit = difftool --no-prompt
	st = status -s -b
	br = branch
	re = remote
	#lg = log --decorate=full --format=format:'%C(yellow)%h%C(reset) - %C(bold white)(%ci)%C(reset) %C(bold green)%f%C(reset)%C(bold red)%d%C(reset) %C(white)%s%C(reset)%C(bold cyan) - <%cn>%C(reset)'
	lg = log --decorate=full --format=format:'%C(yellow)%h%C(reset) %C(bold white)(%ci)%C(reset) %C(bold green)%f%C(reset)%C(bold red)%d%C(reset) - <%cn>%C(reset)'
	lgd = log --decorate=full --format=format:'%C(yellow)%h%C(reset) %C(bold green)%f%C(reset)%C(bold red)%d%C(reset) %C(white)%s%C(reset)%C(bold cyan) - <%cn>%C(reset)'
	lga = log --graph --all --decorate=full --format=format:'%C(yellow)%h%C(reset) - %C(bold white)(%ci)%C(reset) %C(bold green)%f%C(reset)%C(bold red)%d%C(reset) %C(white)%s%C(reset)%C(bold cyan) - <%cn>%C(reset)'
	lgst = log --stat
	mf = merge --no-ff
	mg = merge
	rb = rebase
	rbi = rebase --interactive
	rbc = rebase --continue
	rba = rebase --abort
	pick = cherry-pick
	pickc = cherry-pick --continue
	picka = cherry-pick --abort
	ama = am --abort
	amc = am --continue
	amk = am --skip
	sh = show
	shm = show --summary
	aa = add --all :/
	ap = add --patch
	ru = remote update
	sf = svn fetch
	sd = svn dcommit
	ss = stash
	ssi = stash push
	sso = stash pop
	ssl = stash list
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[core]
	editor = vim
	autocrlf = false
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
[interactive]
	diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	stripLeadingSymbols = false
